apiVersion: v1
kind: Service
metadata:
  name: portfolio-backend
  labels:
    app: portfolio-backend
spec:
  selector:
    app: portfolio-backend
  ports:
    - name: http
      port: 5000
      targetPort: 5000
  type: ClusterIP
