resources:
  - namespace.yaml
  - backend/deployment.yaml
  - backend/service.yaml
  - frontend/deployment.yaml
  - frontend/service.yaml
  - istio/gateway.yaml
  - istio/virtualservice.yaml
  - istio/virtualservice-backend.yaml
  - istio/destinationrule.yaml
