apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-v2
  labels:
    app: portfolio-backend
    version: v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: portfolio-backend
      version: v2
  template:
    metadata:
      labels:
        app: portfolio-backend
        version: v2
    spec:
      containers:
        - name: backend
          image: dockergc00/portfolio-backend:v2
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
