apiVersion: apps/v1
kind: Deployment
metadata:
  name: portfolio-backend-{{ .Values.versionLabel }}
  labels:
    app: {{ .Values.labels.app }}
    version: "{{ .Values.versionLabel }}"
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.labels.app }}
      version: "{{ .Values.versionLabel }}"
  template:
    metadata:
      labels:
        app: {{ .Values.labels.app }}
        version: "{{ .Values.versionLabel }}"
    spec:
      containers:
        - name: backend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}

          ports:
            - containerPort: {{ .Values.service.port }}

          env:
            - name: PORT
              value: "{{ .Values.service.port }}"
            - name: VERSION
              value: "{{ .Values.versionLabel }}"

          resources:
            {{ toYaml .Values.resources | indent 12 }}
