name: Backend v1 CI
on:
  push:
    paths:
      - "phase2-portfolio/app/backend-v1/**"
      - ".github/workflows/backend-v1.yml"
  workflow_dispatch:

jobs:
  call-template:
    uses: ./.github/workflows/backend-ci-template.yml
    with:
      service_name: "v1"
      image_repo: "${{ secrets.IMAGE_NAMESPACE }}/gc-devops-portfolio-backend-v1"
      image_tag: "v1"           # replace with dynamic tag if you want, e.g. ${{ github.sha }}
      dockerfile_path: "phase2-portfolio/app/backend-v1"
      context: "phase2-portfolio/app/backend-v1"
      values_file: "phase2-portfolio/helm/portfolio/values.yaml"
      # git_push_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}   # optional
