name: Backend CI Template

on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string
      version:
        required: true
        type: string
      image:
        required: true
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./phase2-portfolio/app/${{ inputs.service }}
          push: true
          tags: |
            ${{ inputs.image }}:${{ inputs.version }}
            ${{ inputs.image }}:latest

      - name: Update Helm values.yaml
        run: |
          sed -i "s#${{ inputs.image }}:.*#${{ inputs.image }}:${{ inputs.version }}#g" phase2-portfolio/helm/portfolio/values.yaml

      - name: Commit updated Helm chart
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "CI: Update backend ${{ inputs.service }} to version ${{ inputs.version }}" || echo "No changes to commit"

      - name: Push changes
        run: |
          git push
