name: Backend v3 CI
on:
  push:
    paths:
      - "phase2-portfolio/app/backend-v3/**"
      - ".github/workflows/backend-v3.yml"
  workflow_dispatch:

jobs:
  call-template:
    uses: ./.github/workflows/backend-ci-template.yml
    with:
      service_name: "v3"
      image_repo: "${{ secrets.IMAGE_NAMESPACE }}/gc-devops-portfolio-backend-v3"
      image_tag: "v3"
      dockerfile_path: "phase2-portfolio/app/backend-v3"
      context: "phase2-portfolio/app/backend-v3"
      values_file: "phase2-portfolio/helm/portfolio/values.yaml"
      # git_push_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}   # optional
