name: Backend v2 CI
on:
  push:
    paths:
      - "phase2-portfolio/app/backend-v2/**"
      - ".github/workflows/backend-v2.yml"
  workflow_dispatch:

jobs:
  call-template:
    uses: ./.github/workflows/backend-ci-template.yml
    with:
      service_name: "v2"
      image_repo: "${{ secrets.IMAGE_NAMESPACE }}/gc-devops-portfolio-backend-v2"
      image_tag: "v2"
      dockerfile_path: "phase2-portfolio/app/backend-v2"
      context: "phase2-portfolio/app/backend-v2"
      values_file: "phase2-portfolio/helm/portfolio/values.yaml"
      # git_push_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}   # optional
