name: Frontend CI Pipeline

on:
  push:
    paths:
      - "phase2-portfolio/app/frontend/**"
      - ".github/workflows/frontend-ci.yaml"
    branches:
      - dev
      - stage
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract short SHA
        id: vars
        run: echo "TAG=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build frontend image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/portfolio-frontend:${{ steps.vars.outputs.TAG }} \
            -f phase2-portfolio/app/frontend/Dockerfile \
            phase2-portfolio/app/frontend

          docker push ${{ secrets.DOCKERHUB_USERNAME }}/portfolio-frontend:${{ steps.vars.outputs.TAG }}
