name: CI - Frontend Build & Push

on:
  push:
    paths:
      - 'phase2-portfolio/app/frontend/**'
      - 'Dockerfile.frontend'
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Frontend
        run: |
          docker build -t dockergc00/portfolio-frontend:prod \
            -f phase2-portfolio/app/frontend/Dockerfile.frontend \
            phase2-portfolio/app/frontend

      - name: Push Frontend
        run: docker push dockergc00/portfolio-frontend:prod
